<div class="container">
  <div class="row clearfix well">
    <!-- Carousel -->
      <div id="mySlide" class="carousel slide" data-ride="carousel" style="width: 960px; height: 560px; margin: 0 auto">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#mySlide" data-slide-to="0" class="active"> </li>
          <li data-target="#mySlide" data-slide-to="1"></li>
          <li data-target="#mySlide" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
            <img src="faa-front-slide.jpg" alt="First slide" style="width: 960px; height: 560px;">
          </div>
          <div class="item">
            <img src="astronomy.jpg" alt="Second slide" style="width: 960px; height: 560px;">
          </div>
          <div class="item">
            <img src="mib.png" alt="Third slide" style="width: 960px; height: 560px;">
          </div>
      </div>
      <!-- Controls -->
    </div><!-- /carousel -->
  </div>
</div>

<script>
  $(function(){
    $('#mySlide').carousel();
  });
</script>
